*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	background-color: #080808;
	color: white;
	text-align: center;
	font-family:Roboto, sans-serif;
        margin: 0;
        padding:0;
}
header{
    
    background-color:#0A001A;
    display: block;
    position:relative;
    color: #767BFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15vh;
    border-bottom: solid #00FFDD 1px;
    padding: 15px 0 15px 0;
}
main{
    height:fit-content;
    display: block;
    padding: 10px 0 10px 0;
}
a{
	font-size:36px;
        font-weight:bold;
        
        text-decoration: none;
}
p{
	margin: 5px;
}
table{
    width:90%;
    margin-left: 5%;
    font-size: 16px;
    display: block;
}
td,tr,th{
    background-color: #0A001A;
    color: #00FFDD;
    border: solid #00FFDD 1px;
    border-collapse: collapse;
}
th{
    background-color: #767BFF;
    color: white;
}
td{
    text-align: left;
    padding: 5px 10px 5px 10px;
    
}
.scripts{
    font-size:18px;
}
.scripts td a{
    font-size:18px;
    color: #767BFF;
    transition: all 0.4s;
}
.scripts td a:hover{
    color: #00FFDD;
}
footer{
    background-color: #0A001A;
    color: #767BFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    top: 80%;
    bottom: 0;
    width: 100%;
    height: 10vh;
    text-align: left;
    border-top: solid #00FFDD 1px;
    position: relative;
    display: block;
}
footer p{
    margin-left: 10px;
}
img{
    height: 25px;
    width: 25px;
    transition: all 0.4s;
}
img:hover{
    /*filter:invert(50%);*/
    filter: invert(0.4) sepia(1) hue-rotate(-170deg) saturate(500%);
}
.cuadro{
    background-color: #00FFDD;
    position: absolute;
    color: #9F1CC2;
    transition: all 0.4s;
}
#arriba{
    width: 50px;
    height: 100%;
    top: 0;
    left: 0px;
    padding-top: 3vh;
}
#arriba:hover{
    background-color: #9F1CC2;
    color: #00FFDD;
    width: 100px;
}
#abajo{
    width: 50px;
    height: 100%;
    right: 0px;
    bottom: 0%;
}
.linkBD{
    color: white;
    font-size: 12px;
    transition: all 0.4s;
}
.linkBD:hover{
    color: #00FFDD;
}